<div class="conainer mt-3 shadow-lg p-3 mb-5  rounded">

    <div *ngIf="successMsg">
       <h1 class="alert alert-success">{{successMsg}}</h1>
   </div> 

   <div *ngIf="errorMsg">
       <h1 class="alert alert-danger">{{errorMsg}}</h1>
   </div>

<div class="card card-center bg-info col-md-6 offset-md-3">
   <h1 class="card text-center mt-3  bg-secondary bg-opacity-75">Withdraw Ammount</h1>

<form id="form" (ngSubmit)="withdraw()">
   <div class="col-md-12 offset-md-4">
 
   <div class="form-group mb-3">
      <label for="balance">Balance</label>
     <br/>
      <div class="input-group">
         <div class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i> </div>
         <input type="text" id="balance" name="balance" [(ngModel)]="account.balance" placeholder="Enter Balance"/>
         </div>
      </div>

   <button type="submit" class="btn btn-primary btn-space">withdraw</button>
   <button type="submit" class="btn btn-primary" routerLink="/accounts">Back</button>
    
</div>
</form>
</div>
</div>